
.header{
  background-color:black;
     padding:120px;  
      font-family: Arial, Helvetica, sans-serif;
  position:relative;
  
  
}
.con{
	position:relative;
}
.seven2{
	float:left;
	padding-bottom:25px;
	position:absolute;
	margin-bottom:20px;
	position:absolute;
}
.seven{
	float:right;
	padding-Bottom:25px;
	
}
 td {
  text-align:center;
  height:200px;
  width:500px;
}
th {
  height:100px;
}
h3{
   text-align:center;
    font-size:20px;
  color:white;
  font-family:sans-serif;
  margin-left:40px
 
  
}

.taj2{

  background-color:lighter;
  
  
}
table{
background-color:gray;}
p{
	color:black;
	font-family:sans-serif;
	text-align:left;
	font-size:20px;
}